body {
    background-color: black;
    color: white;
}

h1{
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.img-nasa{
    display: block;
    margin: auto;
    max-width: 80%;
}

.video-nasa{
    display: block;
    width: 70vw;
    height: 35vw;
    margin: auto;
}

